<div class="container">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/products" class="logo">
          <img src="/template/images/hidu 1.png" alt="IMG-LOGO" style="max-width: 20vh; max-height:30vh;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-1 mb-lg-0" style="padding-left: 15vh;">
            <!-- <li class="nav-item">
              <a class="nav-link active" href="/index">Home </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" style="font-weight: bold; color: #f2931f;" href="/users">User</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " style="font-weight: bold; color: #f2931f;" href="/products">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " style="font-weight: bold; color: #f2931f;" href="/cart">Cart</a>
            </li>
          </ul>
          <form class="d-flex ms-2 my-2 my-lg-0">
            <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button> -->
          </form>
          
        </div>
    </nav> 
  </header>
</div>

