<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    <link rel="stylesheet" href="/path/to/bootstrap.css"> <!-- Adjust the path to your Bootstrap CSS -->
</head>
<body>
    <div class="container mt-5">
        <h2>Edit Product</h2>
        <form action="/products/edit/<%= product._id %>" method="POST" class="mb-5">
            <div class="form-row" style="display: flex; justify-content: space-between; margin-top: 5vh;">
                <div class="form-group" style="width: 48%;">
                    <label for="name" style="margin-bottom: 2vh;">Product Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group" style="width: 48%;">
                    <label for="price" style="margin-bottom: 2vh;">Price</label>
                    <input type="number" class="form-control" id="price" name="price" required>
                </div>
            </div>
            <div class="form-group">
                <label for="description" style="margin-bottom: 2vh; margin-top: 2vh;">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
            </div>
            <div class="form-group">
                <label for="category" style="margin-bottom: 2vh; margin-top: 2vh;">Category</label>
                <input type="text" class="form-control" id="category" name="category" required>
            </div>
            <div class="form-group">
                <label for="content" style="margin-bottom: 2vh; margin-top: 2vh;">Content</label>
                <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
            </div>
            <!-- <div class="form-group">
                <label for="imageUrl" style="margin-bottom: 2vh; margin-top: 2vh;">Image URL</label>
                <input type="text" class="form-control" id="imageUrl" name="imageUrl" value="<%= product.imageUrl %>">
            </div> -->
            <div class="form-group">
                <label for="image" style="margin-bottom: 2vh; margin-top: 2vh;">Image URL</label>
                <input type="file" class="form-control" id="image" name="image" value="<%= product.imageUrl %>">
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 20px; background-color: #28a745; border-color: #28a745; font-size: 16px; font-weight: bold;">Update Product</button>
        </form>
    </div>
</body>
</html>


